* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #354463;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
}

body {
  width: 100%;
}
.green{
  white-space: pre-line;
}

.nav-container {
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
font-family: Helvetica;
}
.header-title {
font-weight: bold;

}
.donate-today-btn {
width: 70%;
min-height: 5vh;
background-color: #c1f7d5;
border-radius: 100px;
text-align: center;
align-content: center;
 margin: auto; 
margin-bottom: 2.5rem;
}
.btn {
border: none;
background: transparent;
}

.hero {
  background-image: url("./assets/assets/home/annie-spratt-135307-unsplash@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  color: white;
  text-align: center;
  background-position: 80%;
  padding: 3.5rem;
}

.hero-title {
  width: min-content;
  font-size: 3rem;
  color: white;
  margin: 5rem;
  font-family: Flood Std;
  font-weight: bold;
}

.hero-data {
  background-color: #fff;
  color: #354463;
  height: 20vh;
  width: 70%;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: bold;
  padding: 3rem;
}

.hero-anchor {
  margin: 2rem;
  font-size: 0.7rem;
}

.issue-text {
  background-color: #354463;
  width: 60%;
  position: relative;
  top: 0.5rem;
  margin: 0px 5rem 0rem 5rem;
  height: 3vh;
  font-family: Helvetica;
  font-size: 1.2rem;
}

.take-action {
  background-color: #c1f7d5;
  
}


.action-items {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 2rem;
}
.action-item {
  font-family: Helvetica;
  color: #354463;
}
.section-title {
  background-color: #354463;
  width: 45%;
  position: relative;
  top: -1rem;
  margin: 0px 8rem 0rem 8rem;
  height: 3vh;
  text-align: center;
  color: white;
  font-family: Helvetica;
  font-size: 1.2rem;
}

.what-we-do-section-title {
  background-color: #fff;
  text-align: center;
  width: 45%;
  margin: auto;
  color: #354463;
  height: 3vh;
  font-family: Helvetica;
  font-size: 1.3rem;
}

.section-what-we-do {
  background-color: #354463;

  padding-left:10rem;
  padding-top: 5rem;
 
}

.section-description {
  margin: 2rem 2rem 2rem 2rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  font-family: Helvetica;
}

.what-we-img {
  width: 10rem;
  height: 10rem;
}

.tree-card-content {
  background-color: #fff;
  width: 70%;
  margin: auto;
  font-family: Helvetica;
  line-height: 1.5;
  text-align: center;
  padding: 3rem;

  h1 {
    padding-top: 3rem;
    text-align: center;
  }

  p {
    margin-top: 2.5rem;
  }
}

.read-more-btn {
  margin-top: 3rem;
  background-color: #c1f7d5;
  border-radius: 35px;
  width: 50%;
  height: 2rem;
  margin-bottom: 3rem;
  border: none;
  font-family: Helvetica;
}

.service-item img.what-we-img {
  transform: translateY(50%);
  margin-left: 7rem;
 
}

.climate-change-section-title {
  width: min-content;
  font-size: 2rem;
  color: white;
  margin: auto;
  font-family: Flood Std;
}

.take-btn {
  margin-top: 3rem;
  background-color: #c1f7d5;
  border-radius: 35px;
  width: 7dvh;
  height: 2rem;
  margin-top: 1rem;
  width: 60%;
  border: none;
  font-family: Helvetica;
  color: #354463;
}

.fact {
  background-color: #fff;
  color: #354463;
  height: 20vh;
  display: flex;
}

.fact-title {
  padding: 2rem;
}
.lady-img {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
}
.stories-content {
  background-color: #354463;
  color: #fff;
  text-align: center;
  padding-top: 3rem;
  width: 80%;
  margin: auto;
  p {
    padding: 3rem;
  }
}

.climate-change-section {
  background-image: url("./assets/assets/home/did-you-know-background@2x.png");
  background-size: cover;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  /* height: 80rem; */
  padding-bottom: 3rem;
}

.fact-description {
  width: 40%;
  margin-left: 2rem;
}

.did-you-know,
.stories-title,
.event {
  width: 40%;
  background-color: #354463;
  position: relative;
  top: 1rem;
  left: -0.4rem;
  margin-left: 8rem;
  height: 2.5vh;
  text-align: center;
  font-family: Helvetica;
  color: white;
  font-size: 1.1rem;
  font-family: Helvetica;
}

.fact-container {
  padding: 20px;
  width: 70%;
  background-color: #fff;
  color: #354463;
  height: 15vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin-left: 2rem;
  margin-bottom: 2rem;

}

.fact-container .img-container {
  margin: 1px;
  width: 25px;
  height: 25px;
  background-color: #c1f7d5;
   border-radius: 100px; 
  justify-self: center;
  padding: 10px;
}

.fact-container img {
  padding: 5px;
}
.fact-container-title {
  font-size: 1rem;
  font-family: Helvetica;
}
.fact-container-content {
  font-size: 1rem;
}

.action-section {
  background-color: #354463;
 padding-left: 10rem;
 padding-right: 10rem;
}
.action-section-title {
  margin: 3rem;
  padding: 2rem;
  color: #fff;
  text-align: center;
  font-family: Flood Std;
  line-height: 1.5;
}
.action-panting-img {
  background-image: url("./assets/assets/home/tree-planting@3x.png");
  width: 30vh;
  height: 20vh;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
}
.meeting-img {
  background-image: url("./assets/assets/home/meeting@3x.png");
  width: 30vh;
  height: 20vh;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
}
.action-panting-title1 {
  margin: auto;
  text-align: center;
  color: #fff;
  margin-top: 2rem;
}
.action-planting-content {
  text-align: center;
  font-size: 1rem;

  line-height: 1.4;
  color: white;
}
.action-planting-content-text {
  padding: 3rem;
  font-family: Helvetica;
  font-size: 1rem;
}
.event {
  background-color: #fff;
  color: #354463;
  font-weight: bold;
}

.input-box-container {
  display: flex;
  justify-content: space-evenly;
}

.subscribe-section{
  padding: 3rem;
  background-color:  #c1f7d5;
 
  input{
    border-radius: 30px;
   height: 3vh;
   padding-left: 0.1rem;
  }
  button{
    border-radius: 30px;
    height: 3.7vh;
    background-color:  #354463;
    color: #fff;
    font-size: 1.2rem;
    
  }
}
p{
margin-bottom: 2rem;
} 



.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 3rem;
  color: #354463;
  
}

.stop-climate-change{
  width: min-content;
}
.green-tree{
  font-size: 1.5rem;
  font-weight: bold;
   width: min-content; 
  
}
.stop-climate-change{
 
  grid-area: 3/2/4/3;
  font-family: Flood Std;
}
.footer-title{
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}







@media (min-width: 1025px) {


  .header-container {
    margin-top: 1.5rem;
    padding: 20px;
    padding-left: -2rem;
  }

  .nav-container {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header-title {
    margin-left: 15rem;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
  }

  .header-container > div {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .header-container > div > div:last-child {
    width: 50%;
  }
  .donate-today-btn {
    margin-left: 2rem;  
  margin-bottom: 1.5rem;
}

  .hero-data {
    height: 20vh;
    width: 50%;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: bold;
    margin-left: -17.5rem;
   
  }
  .hero-text {
    font-family: Helvetica;
  }

  .hero-anchor {
    font-size: 0.5rem;
  }

  .issue-text {
    width: 20%;
    position: relative;
    top: 0.5rem;
    left: -15rem;
    height: 3vh;
    font-family: Helvetica;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
  }

  .hero {
    height: 50vh;
   
  }
  .climate-change-section-title{
    margin-top: 5rem;
    font-family:Flood Std;
    margin-left: 10rem;
  }

  .what-we-do-section-title {
    width: 10%;
    margin-left: 0rem;
    margin-top: 3rem;
    padding-top: 1rem;
   
  }

  .section-description {
    margin: 3rem 3rem 3rem 0rem;
    font-size: 3rem;
    text-align: left;
  }

.did-you-know{
  width: 15%;
}
  .action-items {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
    margin-left: 14.5rem;
    margin-right: 8rem;
  }
  .action-panting-img{
     width:30rem;
     height: 20rem;
     margin-left: 5rem;
  }
  .action-planting-content-text{
     font-size: 1.8rem;
  }
  .meeting-img{
    width:30rem;
    height: 20rem;
    margin-left: 15rem;
  }
  .event {
  
    transform: translateX(1300%)translateY(-90%);
    width: 10%;
  }

 
  .action-btn {
    width: 30%;
    margin-top: 1rem;
  }
  .latest-news {
    transform: translateX(-700%)translateY(-90%);
  }

  .section-title {
    margin: 0px 30rem 0rem 30rem;
    width: 10%;
    margin: auto;

  }

 
  .service-item{
    width: 80%;
  }

  .service-item img.what-we-img {
    width: 100%;
    height: 13rem;
    margin: 0;
    transform: translate(2rem, 70%);
  }

  .section-what-we-do .what-we-do-conatiner {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-left: 0rem;
    column-gap: 2rem;
    padding: 0rem;
  }

  .tree-card-content {
    padding-top: 8rem;
  }
.stories-title{
  width: 15%;
}
  .climate-change-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
 
  .stories-section {
    display: flex;
    flex-direction: row-reverse;
  }
  .stories-content {
    transform: translateX(30%);
  }

  .action-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .reverse {
    grid-area: 1/2;
  }

  .subscribe-section{
    display: flex;
    justify-content: space-evenly;
  }

 
 .subscribe-container{
  font-family:Helvetica;
 display: flex;
 justify-content:center;
 gap:13rem;
 button{
  height: 3rem;
  width: 30%;
 }
 p{
   font-size:20px;
   font-weight: bold;
   color: #354463;
   
 }
 input{
  width: 60%;
  height: 3rem;
 }
}


  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  
   .footer-container{
            display: flex;
            justify-content: space-evenly;
           
        }
      
        .stop-climate-change{
            width: min-content;
        }
        .green-tree{
            font-size: 1.5rem;
            font-weight: bold;
            white-space: pre-line;
            
        }

  .hero-anchor {
    font-size: 1rem;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-title {
    padding-left: 40px;
  }
  .nav-container {
    padding: 1.1rem;
    display: block;
  }
  .header-container > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .nav-items {
    display: flex;
    justify-content: space-around;
  }

  .hero-content {
    font-size: 2rem;
  }
  .hero-anchor {
    font-size: 1rem;
  }
  .action-items {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  .section-title {
    margin-left: 15rem;
  }
  .what-we-do-section-title {
    margin-left: 5rem;
    width: 40%;
  }
  .section-description {
    font-size: 2.2rem;
  }
  .what-we-img {
    width: 20rem;
    height: 10rem;
  }

  .service-item {
    display: flex;
    background-color: #ffffff;
    width: 90%;
    height: 400px;
    margin: auto;
    margin-bottom: 4rem;
  }
  .service-item img {
    width: 100%;
    height: 250px;
    position: relative;
    top: -10rem;
    right: 5rem;
  }
  .tree-card-content {
    height: 300px;
    padding-left: 0;
    padding-top: 0;
  }
  .read-more-btn {
    transform: translate(-28rem, -7rem);
  }
  .climate-change-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .stories-section {
    display: flex;
    flex-direction: row-reverse;
  }
  .stories-content {
    transform: translateX(50%);
    height: 28vh;
    width: 90vh;
  }

  .action-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .action-items {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
  }
  .event {
    transform: translateX(200%);
    margin-top: -2rem;
    width: 13rem;
  }
  .action-btn {
    width: 30%;
    margin-top: 1rem;
    transform: translateX(10%);
  }
  .action-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .reverse {
    grid-area: 1/2;
  }
  .latest-news {
    transform: translateX(-230%);
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .footer-stop-climate-text {
    margin: 0rem;
  }
  .subscribe-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }
  .subscribe-button {
    padding: 0.5rem;
    border-radius: 50px;
  }
  .footer-container-main {
    display: flex;
  }
  .email-input {
    height: 2rem;
    border-radius: 20px;
  }

  .hero-anchor {
    font-size: 1rem;
  }
}
